#index-banner {
    background-color: #C0C0C0;
}
.default_color {
    background-color: #ead7d7 !important;
}

.cd-headline.type .cd-words-wrapper.selected {
    background-color: #C0C0C0 ;
}

.cd-headline.type .cd-words-wrapper.selected b {
    color: #FFF;
}
.span_h2 {
    font-weight: 300;
    color: #C0C0C0;
}
nav .brand-logo {
    font-size: 3rem;
    
}